<!DOCTYPE html>
<html>
<head>
    <title><%= pokenea.nombre %></title>
</head>
<body>
    <h1><%= pokenea.nombre %></h1>
    <img src="<%= pokenea.imagen %>" alt="<%= pokenea.nombre %>" style="max-width: 300px;">
    <p>Frase Filosófica: "<%= pokenea.frase %>"</p>
    <p>ID del Contenedor: <%= contenedor %></p>
</body>
</html>